.navbar-brand{
    color: #7B68EE;
}
.navbar{
    background-color: #E6E6FA;
    top: 0;
    width: 100%;
}
.nav-item{
    color: black;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    float: right;
}
.profile{
    text-decoration: underline;
}
.nav-item:hover{
    color: #7B68EE;
}
.jumbotron{
    background-image: url("../UX_HW_21/images/vishal-banik-V6T99SnUCyA-unsplash.jpg");
    color: white;
}
.btn-primary{
    background-color: white;
    color: #7B68EE;
    border: 2px solid #7B68EE;
    border-color: #7B68EE;
    border-radius: 2;
}
.btn-primary:hover{
    background-color: #7B68EE;
    border: white;
    color: white;
}
.material-symbols-outlined{
    outline: #7B68EE;
    float: right;
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;padding:30px; 
}
footer ul li a {
    color:darkslategrey;
    text-decoration:none;   
}
footer{
    background-color: #E6E6FA;
}