.navbar-brand{
    color: #7B68EE;
}
.navbar{
    background-color: #E6E6FA;
    top: 0;
    width: 100%;
}
.nav-item{
    color: black;
}
.nav-item:hover{
    color: #7B68EE;
}
.profile{
    text-decoration: underline;
}
.btn-primary{
    background-color: white;
    color: #7B68EE;
    border: 2px solid #7B68EE;
    border-color: #7B68EE;
    border-radius: 2;
}
.btn-primary:hover{
    background-color: #7B68EE;
    border: white;
    color: white;
}
.jumbotron{
    background-image: url("../UX_HW_21/images/vishal-banik-V6T99SnUCyA-unsplash.jpg");
    color: white;
}
.list-group{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: center;
}
.mr-3{
    height: 250px;
    width: 500px;
}
h2{
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;padding:30px; 
}
footer ul li a {
    color:darkslategrey;
    text-decoration:none;   
}
footer{
    background-color: #E6E6FA;
}